<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or "Page" }}</title>

  {#       Body Text: Albert Sans Light (also Medium, Bold, and Black) #}
  {#     Header Text: Crimson Pro Bold                                 #}
  {# Monospaced Text: JetBrains Mono Light                             #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;500;700;900&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap">

  <link rel="stylesheet" href="/css/vendor/latex.css">
  <link rel="stylesheet" href="/css/vendor/katex.min.css">
  <link rel="stylesheet" href="/css/ledger-theme.css">
</head>
<body>
  {{ content | safe }}
</body>
</html>